<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  <appSettings>

    <add key="BaseUrl" value="https://tequipment-design.idevdesign.net" />
    <add key="Email" value="toturkay@gmail.com" />
    <add key="FirstName" value="Tugba" />
    <add key="LastName" value="Turkay" />
    <add key="PhoneNo" value="7733979119" />
    <add key="Address" value="W Berwyn Ave" />
    <add key="City" value="Chicago" />
    <add key="Zipcode" value="60656" />
    <add key="CardNumber" value="4111111111111111" />
    <add key="ExpiryDate" value="02/20" />
    <add key="CVV" value="123" />
    <add key="Browser" value="Debug" />
  </appSettings>

  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <stepAssemblies>
      <!-- This attribute is required in order to use StepArgument Transformation as described here; 
    https://github.com/marcusoftnet/SpecFlow.Assist.Dynamic/wiki/Step-argument-transformations  -->
      <stepAssembly assembly="SpecFlow.Assist.Dynamic" />
    </stepAssemblies>
    <!--unitTestProvider name="NUnit" /-->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>